.spinner {
  position: fixed;
  z-index: 1;
  top: 69px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: #e5eff1;

  img {
    max-width: 100px;
  }
}
