.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease, transform 0.3s ease-in;

  text-decoration: none;

  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.25);

  @media (min-width: 780px) {
    width: 25%;
  }
  &:hover {
    z-index: 5;

    transform: scale(1.03);

    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.25);
  }
}
