.container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  color: #333438;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  small {
    font-size: 14px;
  }
}
