.recommendation {
  margin-left: 5px;
  margin-right: 5px;
  img {
    display: block;
    width: 100%;
    height: auto;

    // height: 264px;
  }
  span {
    display: block;
    overflow: hidden;

    height: 40px;
    margin-top: 9px;

    text-align: center;

    font-size: 14px;
    line-height: 20px;
  }
}
