@import "../../theme/palette";

body {
  background-color: $paletteColor2;
  color: #333438;
}

a {
  text-decoration: none;
  color: #333438;
}

.app {
  font-family: "Roboto", sans-serif;

  .main {
    position: relative;
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
