.wrap {
  padding: 0 50px;
  position: relative;
}

.leftArrow,
.rightArrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 100%;
  padding: 0;
  // transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  svg {
    width: 50px;
    height: 100px;
    fill: #ec174f;
  }
  &:hover {
    background-color: rgba(27, 21, 74, 0.31);
  }
}

.leftArrow {
  left: -50px;
}

.rightArrow {
  right: -50px;
}
